<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= data.homeStartingContent %></p>

<% data.posts.forEach(item => { %>
<h1><%= item.pTitle %></h1>
<p>
    <%= item.pBody.substring(0, 100)+"..." %>
    <a href="/post/<%=item.pTitle%>">Read More</a>
</p>
<% });  %>


<%- include("partials/footer"); -%>